extends layout

block content
  h1 Welcome to the Express Local Library
  p This application was created using Express and mongoDB for the backend and Pug for the frontend view. 
  p The test is a simple library that allows you to add, update, and delete books from a mongoDB database.
  a(href='/books') view books
